<div class="headline">
  <button (click)="toggleMenu()" class="hamburger">
    <span>toggle menu</span>
  </button>
  <p class="head">Loan Form</p>
  <app-menu [@slideInOut]="menuState"></app-menu>
</div>
<br>


<div>
  <label>For which Loan you have to apply?</label>
  <br>
  <input type="radio" name="homeloan" value="HomeLoan" [(ngModel)]='loanTaken' (change)="loanApply()" required> Home Loan
  <br>
  <input type="radio" name="carloan" value="CarLoan" [(ngModel)]='loanTaken' (change)="loanApply()" required> Car Loan
  <br>
</div>
<div>
  <label>Any Past Loan??</label>
  <br>
  <input type="radio" name="yes" value="yes" [(ngModel)]='pastloan' required (change)="pastLoan()"> Yes
  <br>
  <input type="radio" name="no" value="no" [(ngModel)]='pastloan' required (change)="pastLoan()"> No
  <br>
</div>

<p *ngIf="shows">
  Loan Number:
  <input type="number" id="loan_no" [(ngModel)]="loan_no" required />
</p>
<!-- <div>
  <label>Amount of Loan</label>
  <input type="number" id="loanamount" [(ngModel)]='loanamount' /><br><br>
</div> -->
<form [formGroup]="Loan" (ngSubmit)="onEmi(Loan)">
  <div *ngIf="show">
    Calculate Your EMI
    <br> Principal:
    <input type="number" id="principal" formControlName="principal" required/>
    <div id="offcNameErro" class="error" *ngIf="Loan.get('principal').hasError('required') && Loan.get('principal').touched">
      <span style="color:red">*Please Enter Amount</span>
    </div>
    <br>
    <br> Rate Of Interest:
    <input type="number" id="roiEmi" value="{{roi}}" disabled/>
    <br>
    <br> Time:
    <input type="number" id="timeEmi" formControlName="timeEmi" />
    <div id="offcNameErro" class="error" *ngIf="Loan.get('timeEmi').hasError('required') && Loan.get('timeEmi').touched">
      <span style="color:red">*Please Enter Time Period</span>
    </div>
    <br>
    <br> EMI:
    <input type="number" id="emi" value="{{resultemi}}" disabled />
    <br>
    <br>
    <button [disabled]="Loan.invalid || Loan.pending">Calculate</button>
  </div>
  <br>

  <div *ngIf="show">
    Apply for Loan!
    <br> Enter Amount:
    <input type="number" id="amount" value="{{Loan.value.principal}}" disabled />
    <br>
    <br> Time(in months):
    <input type="number" id="time" value="{{Loan.value.timeEmi}}" disabled />
    <br>
    <br> ROI:
    <input type="number" id="roi" value="{{roi}}" disabled />
    <br>
    <br> EMI:
    <input type="number" id="emi" value="{{resultemi}}" disabled />
    <br>
    <br> Total:
    <input type="number" id="total" value='{{result}}' disabled />
    <br>
    <br>
    <button (click)='onSubmit()' [disabled]="!flag">Submit</button>
    <!-- <div *ngIf="!flag">
    <span style="color:red">*Please calculate EMI</span>
  </div> -->
    <br>
    <br> Loan: {{loanTaken}}
    <br> Past Loan: {{pastloan}}
    <br> total:{{result}}
  </div>
</form>